<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awesomeness.designatedride">

    <supports-screens
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
     The API key for Google Maps-based APIs is defined as a string resource.
     (See the file "res/values/google_maps_api.xml").
     Note that the API key is linked to the encryption key used to sign the APK.
     You need a different API key for each encryption key, including the release key that is used to
     sign the APK for publishing.
     You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- General Activities -->
        <activity
            android:name=".activities.StartLogoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme"
            android:icon="@drawable/icon_backarrow"
            android:label="@string/register"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/forgot_password"
            />

        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="@string/change_password"
            />

        <!-- Rider Activities -->

        <!--android:configChanges="orientation|screenSize"-->
        <activity
            android:name="._RiderActivities.RiderActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="._RiderActivities.RiderMapActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_activity_rider_map" />
        <activity
            android:name="._RiderActivities.RiderProfileActivity"
            android:label="@string/rider_profile"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="._RiderActivities.RiderViewProfileActivity"
            android:label="@string/title_activity_rider_view_profile"
            android:parentActivityName="._RiderActivities.RiderActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="._RiderActivities.RiderViewAppointmentActivity"
            android:label="APPT_VIEW"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name="._RiderActivities.RiderViewAppointmentActivityWrapper" />

        <activity android:name="._RiderActivities.RiderAddAppointmentActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Driver Activities -->
        <activity
            android:name="._DriverActivities.DriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="._DriverActivities.DriverMapActivity"
            android:label="@string/title_activity_driver_map" />
        <activity
            android:name="._DriverActivities.DriverProfileActivity"
            android:label="@string/driver_profile"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="._DriverActivities.DriverViewProfileActivity"
            android:label="@string/title_activity_rider_view_profile"
            android:parentActivityName="._DriverActivities.DriverActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".util.Pref" />

        <activity android:name=".util.SynAck" />

        <receiver android:name=".util.Receiver">
            <intent-filter>
                <action android:name="SYN" />
                <action android:name="ACK" />
                <action android:name="PREF" />
            </intent-filter>
        </receiver>


    </application>

</manifest>

